/** {
  box-sizing: border-box;
}*/

html {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

.app-container {
  padding: 0% 5% 0% 0%;
  background-image: url('./restaurant-banner.jpg');
  background-position: center;
  background-size: cover;
}

.landing-container {
  height: 97vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 0 0 2px 0;
  background-color: rgba(170, 170, 170, 0.5)
}

.title {
  font-family: Skia;
  color: purple;
  margin: 5px;
}

.home-info > .search {
  margin: 0 25px;
  min-width: 200px;
  padding: 5px;
}

.search-all {
  font-size: 14px;
  margin: 5px;
  border-radius: 5px;
  border-color: transparent;
  background-color: #333;
  color: #fafafa;
  padding: 5px 15px;
  text-decoration: none;
}

.search-all:hover, .search-all:focus {
  background-color: #666;
}

.search-container {
  top:40px;
  width: 97vw;
  margin: auto;
  position: relative;
  background-color: rgba(220, 220, 220, .4);
  border-radius: 5px;
}

.shows {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.show-card {
  display: flex;
  margin: 15px;
  border: 1px solid black;
  width: 28vw;
}
.show-card-text {
  display: flex;
  flex-direction: column;
  width: 55%;
  padding: 5px;
}

.show-card-img {
  width: 45%;
  height: 210px;
}

.show-card-title {
  margin: 0px;
}

.show-card-year {
  margin: 0px;
}
.show-card-description {
  font-size: 10px;
  margin-bottom: 0px;
}

.brand {
  font-family: Skia;
  font-weight: normal;
  color: #B10DC9;
  margin: 0;
}

.header {
  /*z-index: 10;*/
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  top: 0;
  left: 0;
  width: 95%;
  overflow: hidden;
  background-color: #fafafa;
  padding: 8px 30px;
}

.search-input {
  min-width: 200px;
  max-width: 300px;
  width: 33%;
  padding: 4px;
  border: 2px solid #ccc;
  border-radius: 4px;
}